# Weather stations

In [2]:
import pandas as pd
import numpy as np
import csv

In [3]:
## Weather-data

weather = pd.read_table('weather-data.txt',sep='\s*', engine='python')    # 0 or more spaces -->>   \s*
weather.head(10)

,USAF,WBAN,YR--MODAHRMN,DIR,SPD,GUS,CLG,SKC,L,M,...,SLP,ALT,STP,MAX,MIN,PCP01,PCP06,PCP24,PCPXX,SD
0,744860,94789,201501010000,250,13,***,***,SCT,*,*,...,1024.8,*****,1023.9,34,28,*****,*****,*****,*****,**
1,744860,94789,201501010051,250,15,***,722,SCT,*,*,...,1024.5,30.26,1023.9,***,***,0.00,*****,*****,*****,**
2,744860,94789,201501010151,250,13,***,722,SCT,*,*,...,1024.0,30.24,1023.2,***,***,0.00,*****,*****,*****,**
3,744860,94789,201501010251,230,15,***,722,CLR,*,*,...,1023.2,30.22,1022.5,***,***,0.00,*****,*****,*****,**
4,744860,94789,201501010300,230,15,***,***,***,*,*,...,1023.2,*****,1022.2,***,***,*****,*****,*****,*****,**
5,744860,94789,201501010351,240,18,***,722,CLR,*,*,...,1022.7,30.20,1021.8,***,***,0.00,*****,*****,*****,**
6,744860,94789,201501010451,260,15,***,722,CLR,*,*,...,1022.7,30.20,1021.8,34,28,0.00,*****,*****,*****,**
7,744860,94789,201501010459,***,***,***,***,***,*,*,...,******,*****,******,34,***,*****,*****,0.00,*****,0
8,744860,94789,201501010551,260,13,***,722,CLR,*,*,...,1021.8,30.18,1021.2,31,29,0.00,*****,*****,*****,**
9,744860,94789,201501010600,260,13,***,***,***,*,*,...,1021.8,*****,1020.9,34,28,*****,*****,*****,*****,**

In [6]:
## GMT TO EST  = pytz: World Timezone Definitions for Python 

import pytz                # http://pytz.sourceforge.net/
from pytz import timezone
from datetime import datetime

gmt = pytz.timezone('GMT')
eastern = pytz.timezone('US/Eastern')
time = "201501010000"
dategmt = gmt.localize(datetime.strptime(time, '%Y%m%d%H%M'))
dateeastern = dategmt.astimezone(eastern)
print dategmt
print dateeastern

2015-01-01 00:00:00+00:00
2014-12-31 19:00:00-05:00

In [7]:
def change_time(time):
    gmt = pytz.timezone('GMT')
    eastern = pytz.timezone('US/Eastern')
    dategmt = gmt.localize(datetime.strptime(str(time), '%Y%m%d%H%M'))
    dateeastern = dategmt.astimezone(eastern)
    return dateeastern

weather['YR--MODAHRMN'] = weather['YR--MODAHRMN'].apply(change_time)
weather.head(10)

,USAF,WBAN,YR--MODAHRMN,DIR,SPD,GUS,CLG,SKC,L,M,...,SLP,ALT,STP,MAX,MIN,PCP01,PCP06,PCP24,PCPXX,SD
0,744860,94789,2014-12-31 19:00:00-05:00,250,13,***,***,SCT,*,*,...,1024.8,*****,1023.9,34,28,*****,*****,*****,*****,**
1,744860,94789,2014-12-31 19:51:00-05:00,250,15,***,722,SCT,*,*,...,1024.5,30.26,1023.9,***,***,0.00,*****,*****,*****,**
2,744860,94789,2014-12-31 20:51:00-05:00,250,13,***,722,SCT,*,*,...,1024.0,30.24,1023.2,***,***,0.00,*****,*****,*****,**
3,744860,94789,2014-12-31 21:51:00-05:00,230,15,***,722,CLR,*,*,...,1023.2,30.22,1022.5,***,***,0.00,*****,*****,*****,**
4,744860,94789,2014-12-31 22:00:00-05:00,230,15,***,***,***,*,*,...,1023.2,*****,1022.2,***,***,*****,*****,*****,*****,**
5,744860,94789,2014-12-31 22:51:00-05:00,240,18,***,722,CLR,*,*,...,1022.7,30.20,1021.8,***,***,0.00,*****,*****,*****,**
6,744860,94789,2014-12-31 23:51:00-05:00,260,15,***,722,CLR,*,*,...,1022.7,30.20,1021.8,34,28,0.00,*****,*****,*****,**
7,744860,94789,2014-12-31 23:59:00-05:00,***,***,***,***,***,*,*,...,******,*****,******,34,***,*****,*****,0.00,*****,0
8,744860,94789,2015-01-01 00:51:00-05:00,260,13,***,722,CLR,*,*,...,1021.8,30.18,1021.2,31,29,0.00,*****,*****,*****,**
9,744860,94789,2015-01-01 01:00:00-05:00,260,13,***,***,***,*,*,...,1021.8,*****,1020.9,34,28,*****,*****,*****,*****,**

In [8]:
import datetime
weather['datetime'] =map(lambda x: x.strftime('%Y-%m-%d %H:%M:%S') ,weather['YR--MODAHRMN'] )
#weather['time']=weather['YR--MODAHRMN']

In [9]:
weather_tofile = weather[ ['datetime','SPD','TEMP','SD','PCP01'] ]
weather_tofile.tail(5)

                  datetime SPD TEMP  SD  PCP01
13335  2015-12-31 15:51:00  13   49  **   0.00
13336  2015-12-31 16:00:00  13   49  **  *****
13337  2015-12-31 16:51:00  16   48  **   0.00
13338  2015-12-31 17:51:00  13   48  **   0.00
13339  2015-12-31 18:51:00  11   47  **   0.00

In [ ]:
weather_tofile.to_csv('weather_s.txt',index=False)